<div class='audio-player-container fade-in'>
    <mat-menu #playlistMenu='matMenu'>
        <button mat-menu-item *ngFor='let track of audioService.tracks'
            (click)='handleSelectTrack(track)'>{{track.title}}</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]='playlistMenu'>
        <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button (click)='handlePrev()' [disabled]='!this.audioService.currentTrack'>
        <mat-icon color='accent' fontSet="fas" fontIcon="fa-step-backward">
        </mat-icon>
    </button>
    <button mat-icon-button (click)='handleNext()' [disabled]='!this.audioService.currentTrack'>
        <mat-icon color='accent' fontSet="fas" fontIcon="fa-step-forward">
        </mat-icon>
    </button>
    <audio #audioPlayer id='audio-player' (play)='handlePlay()' (pause)='handlePause()' [src]="getAudioSource()"
        controls controlslist='nodownload' autoplay></audio>
</div>