<div class='audio-player-container fade-in'>
    <mat-menu #playlistMenu='matMenu'>
        <button mat-menu-item *ngFor='let track of audioService.tracks'
            (click)='handleSelectTrack(track)'>{{track.title}}</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]='playlistMenu'>
        <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button>P</button>
    <button mat-icon-button>S</button>
    <button mat-icon-button>N</button>
    <audio #audioPlayer id='audio-player' [src]="getAudioSource()" controls controlslist='nodownload' autoplay></audio>
</div>