@import "../../styles/variables.scss";

.audio-player-container {
  display: flex;
  align-items: center;
}

audio {
  width: 100%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #020404;
  font-weight: 900;
  text-shadow: none;
}

mat-error {
  white-space: pre-wrap;
  font-size: 0.7rem;
}
