<section #contactPage class='full-height column fade-in'>
    <h1 *ngIf="showTitle" class='mat-display-1'>{{pageConfig.title}}</h1>
    <h2 *ngIf="showSubtitle" class='mat-subheading-1'>{{pageConfig.subtitle}}</h2>
    <div *ngIf='submitting'>
        <p>...Sending</p>
        <div class='row center-h'>
            <mat-spinner></mat-spinner>
        </div>
    </div>
    <div class='form-container column'>
        <label *ngIf='!submitting && !submitted'>
            {{interpolatedFormCaption[0]}}
            <ng-template [ngIf]='!!pageConfig.email'>
                <a id='page-config-email' color='primary' class='italic' mat-button
                    href='mailto:{{pageConfig.email}}'>{{pageConfig.email}}</a>
            </ng-template>
            {{interpolatedFormCaption[1]}}
        </label>
        <form class='column' [class.hide]="submitting || submitted" [formGroup]='contactForm'
            (ngSubmit)='handleSubmit($event)'>
            <mat-form-field appearance="fill">
                <mat-label>{{pageConfig.fields.name.label}}</mat-label>
                <input matInput formControlName='name' placeholder='Ex. John Doe' required>
                <mat-error *ngIf="contactForm.controls.name.invalid">
                    {{this.displayError('name')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{pageConfig.fields.sender.label}}</mat-label>
                <input matInput formControlName='sender' placeholder='Ex. johndoe@example.com' required>
                <mat-error *ngIf="contactForm.controls.sender.invalid">
                    {{this.displayError('sender')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label class="custom-mat-select-label">{{pageConfig.fields.subject.label}}</mat-label>
                <mat-select formControlName="subject" required>
                    <mat-option *ngFor="let selection of pageConfig.selections" [value]="selection">
                        {{selection}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="contactForm.controls.subject.invalid">
                    {{this.displayError('message')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{pageConfig.fields.message.label}}</mat-label>
                <textarea matInput formControlName='message' required></textarea>
                <mat-error *ngIf="contactForm.controls.message.invalid">
                    {{this.displayError('message')}}
                </mat-error>
            </mat-form-field>
            <button id="contact-form-submit-button" type='submit' [disabled]='!contactForm.valid' color='primary' mat-stroked-button>Send</button>
        </form>
    </div>
    <div *ngIf='submitted && !submitting'>
        <p *ngIf='success' class='mat-body-strong'>{{success}}</p>
        <p *ngIf='error' class='mat-body-strong mat-error'>{{error}}</p>
    </div>
</section>