@import "../../styles/responsive.scss";

p {
  text-align: center;
}

input {
  height: 0.9rem;
}

button[disabled]:hover {
  cursor: not-allowed;
}

#page-config-email {
  padding: 0;
  margin: 0;
}

textarea {
  height: 7rem;
}

.form-container {
  padding: 1rem;

  label {
    padding: 3px;
  }
  form {
    #contact-form-submit-button {
      height: 3rem;
    }
  }
}

.hide {
  display: none;
}

@media (min-width: $breakpoint-sm) {
  .form-container {
    margin: auto;
    width: $breakpoint-sm;
  }
}
