<div class='contact-container'>
    <div>
        <h2 class='mat-h2'>Contact Me</h2>
    </div>
    <div>
        <form class='email-form'>
            <div class='from email-content'>
                <input type="phone">
            </div>
            <div class='subject email-content'>
                <input mat-input type="text">
            </div>
            <div class='email-body email-content'>
                <textarea></textarea>
            </div>
            <div class='sub email-content'>
                <button color='primary' mat-stroked-button>Send</button>
            </div>
        </form>
    </div>
    <div class='social-media-links'>
        <a mat-icon-button href='http://google.com'>
            <mat-icon>
                face
            </mat-icon>
        </a>
        <a mat-icon-button href='http://google.com'>
            <mat-icon>
                face
            </mat-icon>
        </a>
        <a mat-icon-button href='http://google.com'>
            <mat-icon>
                face
            </mat-icon>
        </a>
        <a mat-icon-button href='http://google.com'>
            <mat-icon>
                face
            </mat-icon>
        </a>
        <a mat-icon-button href='http://google.com'>
            <mat-icon>
                face
            </mat-icon>
        </a>
        <a mat-icon-button href='http://google.com'>
            <mat-icon>
                face
            </mat-icon>
        </a>
    </div>
</div>