<mat-toolbar>
    <mat-toolbar-row class='align-baseline'>
        <div id='now-playing' *ngIf='!!audioService.currentTrack' class='mat-body-2 overflow-hidden row align-center'>
            <mat-icon color='primary' [ngClass]='[applyPulse()]' id='now-playing-icon' fontSet="fa" fontIcon="fa-music">
            </mat-icon>
            <div #movieScrollWrapper id='movie-scroll-wrapper' class='overflow-hidden'>
                <p #scrollingText [ngClass]="['scrolling-text', provideScrollClass()]"
                    [matTooltip]="audioService.currentTrack.title">
                    <span>{{audioService.currentTrack.category}}</span>
                    <span class='primary padded'>|</span>
                    <span class='italic'>{{audioService.currentTrack.title}}</span>
                </p>
            </div>
        </div>
        <div *ngIf='!audioService.currentTrack' id='footer-welcome' class='mat-body-2 padded overflow-auto'>
            <mat-icon color='primary' fontSet="fa" fontIcon="fa-music"></mat-icon>
            <p id='footer-welcome-message' class='padded'>{{pageConfig.welcomeMessage}}</p>
        </div>
        <div class='spacer'></div>
        <app-social-media class='auto-fill pull-right'></app-social-media>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <app-audio-player></app-audio-player>
    </mat-toolbar-row>
</mat-toolbar>