mat-toolbar {
  padding: 0.5rem;
}

app-audio-player {
  width: 100%;
}

#now-playing {
  width: 75%;
}

#now-playing-icon {
  padding: 0.5rem;
  animation: pulse 2s ease-in-out infinite;
}

#movie-scroll-wrapper {
  white-space: nowrap;
  .scrolling-text {
    width: fit-content;
  }
}

.scrolling {
  animation: scroll 8s linear infinite;
}

.align-baseline {
  align-items: baseline;
}

@keyframes scroll {
  0% {
    transform: translateX(initial);
  }
  20% {
    transform: translateX(-0.01%);
  }
  100% {
    transform: translateX(-75%);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
