mat-toolbar {
  padding: 0.5rem;
}

mat-toolbar-row {
  padding: 0;
}

app-audio-player {
  width: 100%;
}
#footer-welcome {
  display: flex;
  align-items: center;
}
#footer-welcome-message {
  text-align: center;
}

#now-playing {
  width: 75%;
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}
#now-playing-icon {
  opacity: 0.5;
  padding: 0.5rem;
}

#movie-scroll-wrapper {
  white-space: nowrap;
  .scrolling-text {
    width: fit-content;
  }
}

.scrolling {
  animation: scroll 8s linear infinite;
}

.align-baseline {
  align-items: baseline;
}

@keyframes scroll {
  0% {
    transform: translateX(initial);
  }
  15% {
    transform: translateX(-0.01%);
  }
  100% {
    transform: translateX(-75%);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
