@import "../../styles/responsive.scss";
@import "../../styles//responsive.scss";

h2,
h3 {
  text-align: center;
}

button {
  padding: 0 1rem 0 1rem;
  width: 33%;
}

#logo {
  flex: 1;
  max-height: 18rem;
  background-image: url("../../assets/images/sohn-wallpaper.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.auto-fill {
  flex: 0;
  margin: auto;
}
section {
  max-width: $breakpoint-md;
  margin: auto;
}

@media (min-width: $breakpoint-sm) {
  button {
    width: 25%;
  }
}

@media (min-width: $breakpoint-md) {
  button {
    width: 15%;
  }
}
