@import "../../styles/responsive.scss";

p {
  text-align: center;
}
label {
  text-align: end;
}
input {
  height: 0.9rem;
}
button[disabled]:hover {
  cursor: not-allowed;
}

@media (min-width: $breakpoint-sm) {
  .form-container {
    margin: auto;
    width: $breakpoint-sm;
  }
}
