<section class='full-height column fade-in'>
    <h1 class='mat-display-1'>{{pageConfig.title}}</h1>
    <h3 class='mat-subheading-1'>{{pageConfig.subtitle}}</h3>
    <div *ngIf='submitting'>
        <p>...Sending</p>
        <div class='row center-h'>
            <mat-spinner></mat-spinner>
        </div>
    </div>
    <div class='form-container column'>
        <label *ngIf='!submitting && !submitted'>
            {{interpolatedFormCaption[0]}}
            <ng-template [ngIf]='!!pageConfig.email'>
                <a id='page-config-email' color='primary' class='italic' mat-button
                    href='mailto:{{pageConfig.email}}'>{{pageConfig.email}}</a>
            </ng-template>
            {{interpolatedFormCaption[1]}}
        </label>
        <form *ngIf='!submitting && !submitted' class='column' [formGroup]='contactForm'
            (ngSubmit)='handleSubmit($event)'>
            <mat-form-field appearance="fill">
                <mat-label>Your Name</mat-label>
                <input matInput formControlName='name' placeholder='Ex. John Doe' required>
                <mat-error *ngIf="contactForm.controls.name.invalid">
                    {{this.displayError('name')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Your Email</mat-label>
                <input matInput formControlName='sender' placeholder='Ex. johndoe@example.com' required>
                <mat-error *ngIf="contactForm.controls.sender.invalid">
                    {{this.displayError('sender')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Subject</mat-label>
                <input matInput formControlName='subject' required>
                <mat-error *ngIf="contactForm.controls.subject.invalid">
                    {{this.displayError('subject')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Your Message</mat-label>
                <textarea matInput formControlName='message' required></textarea>
                <mat-error *ngIf="contactForm.controls.message.invalid">
                    {{this.displayError('message')}}
                </mat-error>
            </mat-form-field>
            <button type='submit' [disabled]='!contactForm.valid' color='primary' mat-stroked-button>Send</button>
        </form>
    </div>
    <div *ngIf='submitted && !submitting'>
        <p *ngIf='success' class='mat-body-strong'>{{success}}</p>
        <p *ngIf='error' class='mat-body-strong mat-error'>{{error}}</p>
    </div>
</section>