<div class='full-height column fade-in'>
    <h1 class='mat-display-1'>{{pageConfig.title}}</h1>
    <section id='about'>
        <h2 class='mat-subheading-1'>{{pageConfig.subtitle}}</h2>
        <div>
            <div id='headshot'></div>
            <div id='bio'>
                <p *ngFor='let paragraph of pageConfig.bio'>{{paragraph}}</p>
            </div>
        </div>
    </section>
    <mat-divider></mat-divider>
    <h2 class='mat-subheading-1'>{{pageConfig.referralTitle}}</h2>
    <section id='referrals' class='grid'>
        <mat-card *ngFor='let referral of pageConfig.referrals'>
            <mat-card-title-group>
                <mat-card-title>{{referral.name}}</mat-card-title>
                <mat-card-subtitle>{{referral.company}}</mat-card-subtitle>
                <img mat-card-sm-image [src]="resolveFilename(referral.avatarFilename)">
            </mat-card-title-group>
            <mat-card-content>
                <p class='italic'>"{{referral.quote}}"</p>
            </mat-card-content>
        </mat-card>
    </section>
</div>
