@import "../../styles/responsive.scss";

.italic {
    font-style: italic;
}

mat-card {
    margin: 1rem;
}
mat-divider {
    margin: 1rem;
}
#about {
    width: auto;
    margin: auto;
}
#headshot {
    float: left;
    width: 9rem;
    height: 12rem;
    background-image: url("../../assets/images/sohn-headshot.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#bio {
    max-width: $breakpoint-md;
}
@media (min-width: $breakpoint-sm) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: $breakpoint-md) {
    .grid {
        grid-template-columns: auto auto auto;
    }
    #bio {
        max-width: auto;
    }
}
