@import "./variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar-row {
  padding: 0;
}

.padded {
  padding: 0.5rem;
}
.italic {
  font-style: italic;
}
.primary {
  color: $primary;
}
.accent {
  color: $accent;
}
.warn {
  color: $warn;
}

.grid {
  display: grid;
}
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}

.center-v {
  justify-items: center;
}

.center-h {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}

.auto-fill {
  flex: 1;
}

.spacer {
  flex: auto;
}

.pull-right {
  justify-content: flex-end;
}

.fade-in {
  animation: fade-in 0.8s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
