<section id="music-services-page" class='full-height column fade-in padded'>
   <h1 *ngIf="showTitle" class="mat-display-1">{{pageConfig.title}}</h1>
   <h1 *ngIf="showSubtitle" class="mat-subheading-1">{{pageConfig.subtitle}}</h1>
   <section id="services-list" class="column">
      <mat-card *ngFor="let service of pageConfig.services">
         <div class="service column align-center">
            <div class="service-img" [style.background-image]="generateImageUrl(service.imgFilename)"></div>
            <div class="service-content">
               <h3 class="mat-display-1 service-title">{{service.title}}</h3>
               <p class="service-summary">{{service.content}}</p>
            </div>
            <div class="service-actions">
               <button color="primary" mat-stroked-button>{{service.actionText}}</button>
            </div>
         </div>
      </mat-card>
   </section>
   <section id="selling-points-section">
      <h1 *ngIf="showSellingPointsTitle" class="mat-display-1 center-text">
         {{pageConfig.sellingPointSection.title}}</h1>
      <section id="selling-points">
         <div *ngFor="let sp of pageConfig.sellingPointSection.sellingPoints; index as i"
            class="column center-h selling-point padded">
            <div class="column align-center padded">
               <h1 class="mat-display-1 padded center-text index">{{i + 1}}</h1>
            </div>
            <div class="padded">
               <h3 class="mat-subheading-4 center-text selling-point-title">{{sp.title}}</h3>
               <p class="center-text selling-point-content">{{sp.content}}</p>
            </div>
         </div>
      </section>
   </section>
</section>